@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
    
}





header{
    margin-top: 18px;
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;   
}


.logo{
    font-size: 4rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: ease;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4.3rem;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    background-color:transparent;
    cursor: pointer;
    letter-spacing: 0.1rem;
    border-radius: 1.5rem;
    padding: 0.5rem 0.3rem;
}



nav a:hover,
nav a.active{
    color: #000000;
    border: 2px solid #b74b4b;  
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
    
    
    
    
}



@media(max-width:1260px){
    nav{
        position: absolute;
        display: none;
        top:100%;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
        
       
    }

    nav a.active{
        display:block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
       
    }

}



section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;  
    animation: mybody;
    animation-duration: 2s;

}

@keyframes mybody{
    from{margin-bottom: 100%;}
    to{margin-bottom: 0%;}

}


.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: sticky;
    width: 25vw;
    border-radius: 80%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
    transform: scale(1.1) translateX(0px);
    box-shadow:0 0 25px   #b74b4b;
    
}


.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 9rem 1.5rem 3rem 0;
    transition: 0.3s ease-out;
    color: #b74b4b;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.4) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
    
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgb(0, 0, 0);
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "Developer";
    }
    41%, 60%{
        content: "Web Designer";
    }
    81%, 100%{
        content: "Script Writer";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 2rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 60vw;
        margin-top: 2rem;
    }

    .now.playing .bar{
        display:none;
    }
}

.home-img2{
    border-radius: 80%;
    margin-right: 5px;
    margin-top:0px;
}

.home-img2 img{
    position: sticky;
    width: 25vw;
    border-radius: 60%;
    box-shadow: 0 0 25px solid #b74b4b;
    transition: 0.2s linear;
    cursor: pointer;
}

.home-img2 img:hover{
    transform: scale(1.1) translateX(0px);
    box-shadow:0 0 25px   #b74b4b;
    font-size: 1.8rem;
    font-weight: 500;
}




.detail{
    text-align: left;
    margin-bottom: 20px;
    color:white;
    
}

.home .detail h1{
    font-size: 35px;
    margin-bottom:10px;
    margin-top:60px;
    color: #b74b4b;
    text-decoration: underline;
}

.home .detail p{
    font-size: 17px;
    margin-bottom: 25px;
    margin-top: 20px;
    cursor:pointer;
}

.home .detail h2{
    font-size: 35px;
    margin-bottom:1px;
    margin-top: 30px;
    color: #b74b4b;
    text-decoration: underline;
}

.home .detail p2,p3,p4{
    font-size: 17px;
    margin-bottom: 45px;
    line-height: 2.2;
}

.home .detail h3{
    font-size: 35px;
    margin-bottom:1px;
    margin-top: 30px;
    color: #b74b4b;
    text-decoration: underline;
}

.home .detail a{
    color:white;
}


button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.button .font-send {
    color:white;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    margin-left: 20%; 
    width: fit-content;
}

.pic-tank {
    width: 30vw; 
    margin-bottom: 2rem; 
}

.pic-tank img {
    width: 100%;
    border-radius: 15px; 
    display: block;
}